body {
    background: white;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
}

img {
	max-width: 100%;
}

input {
    background: transparent;
    border: none;
    color: transparent;
    outline: none;
    width: 1px;
}

p, span {
    margin-top: 0px;  
}

#datos{
    color: orange;
    float:left;
    font-family:Consolas,monospace;
    font-size:100%;
    position:relative;
}

#terminal {
    background-color: #222;
    bottom:0;
    color: #999;
    font-family: 'Ubuntu', sans-serif;
    height: 200px;
    left: 0;
    position: absolute;
    width: 100%;
}

#title {
    background: orange;
    height: 20px;
    position: relative;
    width: 100%;
}

#title p {
    color: #222;
    font-size: 0.8em;
    line-height: 20px;
    padding-left: 15px;
}

.barra-left {
	position: absolute;	
	left: 20%;
	top: 10%;	
}

.barra-right {
	position: absolute;	
	right: 20%;
	top: 10%;	
}

.blink {
    background-color: white;
    display: inline-block;
    height: 13px;
    width: 5px;
}

.command:before {
    content: '$ ';
}

.info p, .terminal {
    display: none;
    font-size: 0.9em;
    word-wrap: break-word;
}

.monitor {	
	margin: 0 auto;	
	width: 95%;	
	position: relative;
}

.rueda {
	bottom: 15%;
	left:0;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	right:0;
	top: 15%;
}

.terminal {   
    overflow: auto;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-top: 4px;
}

​

