@font-face
	font-family 'digital_dream_fat_narrowRg'
	src url('DIGITALDREAMFATNARROW-webfont.eot')
	src url('DIGITALDREAMFATNARROW-webfont.eot?#iefix') format('embedded-opentype'),
	url('DIGITALDREAMFATNARROW-webfont.woff2') format('woff2'),
	url('DIGITALDREAMFATNARROW-webfont.woff') format('woff'),
	url('DIGITALDREAMFATNARROW-webfont.ttf') format('truetype'),
	url('DIGITALDREAMFATNARROW-webfont.svg#digital_dream_fat_narrowRg') format('svg')
	font-weight normal
	font-style normal

@font-face
	font-family 'icomoon'
	src url('fonts/icomoon.eot?m5taku')
	src url('fonts/icomoon.eot?#iefixm5taku') format('embedded-opentype'),
	url('fonts/icomoon.woff?m5taku') format('woff'),
	url('fonts/icomoon.ttf?m5taku') format('truetype'),
	url('fonts/icomoon.svg?m5taku#icomoon') format('svg')
	font-weight normal
	font-style normal

[class^="icon-"], [class*=" icon-"]
	font-family 'icomoon'
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

.icon-estudiosbefore 
	content "\e600"


.icon-proyectosbefore 
	content "\e930"


.icon-contactobefore 
	content "\e96f"


.icon-habilidadesbefore 
	content "\e997"


.icon-trabajosbefore 
	content "\e9ae"


.icon-infobefore 
	content "\e9ce"


.icon-facebook2before 
	content "\ea8d"


.icon-twitterbefore 
	content "\ea91"


.icon-github2before 
	content "\eab2"


.icon-linkedinbefore 
	content "\eac8"
