@import url(http://fonts.googleapis.com/css?family=Wallpoet);
@import "fonts.styl"
@import "normalize.styl"

a
  color #CFD8DC
  text-decoration none

body
  background #030303
  color white
  font-family Consolas, monospace
  font-size 16px
  overflow scroll

footer
	background #030303
	border-top 2px solid #226666
	bottom 0
	height 20px
	position fixed
	width 100%

h1
figure.perfil
	display inline-block
	vertical-align middle
	margin 0
	img
		border-radius 50%

h1
	font-size 1em
	font-weight normal

h2
	margin 0

h3
	text-decoration underline
	cursor pointer

h3
ul
	display none

header
	background #226666
	padding-top 3px
	text-align center

img
  max-width 100%

input
  background transparent
  border none
  color transparent
  outline none
  width 1px

p, span
  margin 0px

#datos
  border-top 1px dotted #00FFFF
  bottom 5%
  color #00FFFF
  font-family 'digital'
  font-size .8em
  left 10%
  line-height 1.4
  padding-top 1em
  position absolute
  width 80%

#terminal
  color #999
  height 150px
  left 0
  margin-top 2%
  position relative
  width 100%

#title
  p
    color #CFD8DC
    font-size 1em

.barra-left
  left 20%
  position absolute
  top 13%
  animation 3s barra-left infinite

.barra-right
  position absolute
  right 20%
  top 13%
  animation 3s barra-right infinite

.barra-estatica-left
.barra-estatica-right
	display none



@keyframes barra-left {
     0% {
		opacity: 0;
		left: 20%;
		}
	 70% {
		opacity: 1;
		}
    100% {
		opacity: .1;
		left: 15%;
		}
}
@keyframes barra-right {
      0% {
		opacity: 0;
		right: 20%;
		}
	 70% {
		opacity: 1;
		}
    100% {
		opacity: .1;
		right: 15%;
		}
}



.blink
	background-color white
	display inline-block
	height 13px
	width 5px


.command
  &:before
    content '$ '

.contacto
	h3
		font-size 1.5em
		margin 0 auto
		text-align left
		text-decoration none
		width 150px

.footer
	color #226666
	line-height 20px
	margin-left .5em

.habilidades
.estudios
.trabajos
.proyectos
.contacto
		font-family Consolas, monospace
		font-size .9rem

.estudios
.trabajos
.proyectos
.contacto
	li
		list-style none

.habilidades
		margin 0 auto
		text-align left
		width 60%

.ico-cnt
	font-size 1em


.info p, .terminal
  display none
  font-size 0.9em
  word-wrap break-word

.monitor
  color #CFD8DC
  font-family 'Wallpoet'
  margin .6em auto
  position relative
  text-align center
  width 95%

.monitor-img
	display block

.monitor-img-gde
	display none

.monitores
  font-size 2em
  width 500px
.monitores
		ul
			font-size 1.2em
.monitor-home
  display none
  left 0
  margin-left auto
  margin-right auto
  position absolute
  right 0
  top 18%

.monitor-info
  display none
  left 0
  margin-left auto
  margin-right auto
  position absolute
  right 0
  top 10%

.monitor-estudios
  display none
  left 0
  margin-left auto
  margin-right auto
  position absolute
  right 0
  top 10%

.monitor-habilidades
  display none
  left 0
  margin-left auto
  margin-right auto
  position absolute
  right 0
  top 5%

.monitor-trabajos
  left 0
  margin-left auto
  margin-right auto
  display none
  position absolute
  right 0
  top 10%

.monitor-proyectos
  left 0
  margin-left auto
  margin-right auto
  display none
  position absolute
  right 0
  top 10%

.monitor-contacto
  left 0
  margin-left auto
  margin-right auto
  display none
  position absolute
  right 0
  top 10%

.rueda
  bottom 15%
  height 130px
  left 0
  margin-left auto
  margin-right auto
  position absolute
  right 0
  top 18%
  transition 2s
  width 130px
  &:hover
    transform rotate(360deg)
    -webkit-transform rotate(360deg)
    -moz-transform rotate(360deg)
    -o-transform rotate(360deg)
    -ms-transform rotate(360deg)

.terminal
  // overflow hidden
  border-top 1px solid #CFD8DC
  height 150px
  padding-bottom 4px
  padding-left 5px
  padding-top 4px

.titulo
	transition 2s
.titulo-p
	font-size .5em
	transition 2s
	margin-bottom 2em



@media screen and (min-width: 450px)

	.habilidades
		width 55%

	.monitor-img
		display none

	.monitor-img-gde
		display block

	.barra-estatica-left
	.barra-estatica-right
		top 7%
		position absolute
		display block

	.barra-estatica-right
		right 5%
	.barra-estatica-left
		left 5%

@media screen and (min-width: 600px)
	.habilidades
		width 45%

@media screen and (min-width: 800px)
	#datos
		bottom 2%
		font-size 1.2em
	.rueda
		width 250px
		height 250px
		top 5%
	.habilidades
		width 30%


@media screen and (min-width: 917px)
	#datos
		bottom 5%

	.monitor
		width 75%

	.monitor-img-gde
		width 1080px
	.habilidades
		width 39%

@media screen and (min-width: 1150px)

	.habilidades
		width 27%
