@import url(http://fonts.googleapis.com/css?family=Wallpoet);
@import "fonts.styl"
@import "normalize.styl"

body
  background #222
  color white
  font-family 'Ubuntu', sans-serif
  overflow hidden
  font-size 16px  
h1
	margin 0
h3
ul
	display none

h3
	text-decoration underline
	
img
  max-width 100%

input
  background transparent
  border none
  color transparent
  outline none
  width 1px

p, span
  margin 0px
  
#datos
  border-top 1px dotted #00FFFF
  bottom 5%
  color #00FFFF
  font-family 'digital'
  font-size .8em
  left 10%
  line-height 1.4
  padding-top 1em
  position absolute
  width 80%

#terminal  
  bottom 0
  color #999
  font-family 'Ubuntu', sans-serif  
  left 0
  position absolute
  width 100%
 

#title  
  p
    color #448AFF
    font-size 1em    

.barra-left
  left 20%
  position absolute
  top 13% 
  animation 3s barra-left infinite

.barra-right
  position absolute
  right 20%
  top 13% 
  animation 3s barra-right infinite

.barra-estatica-left
.barra-estatica-right
	display none
  
  

@keyframes barra-left {
     0% {
		opacity: 0;
		left: 20%;
		}
	 70% {
		opacity: 1;		
		}   
    100% {
		opacity: .1;
		left: 15%;
		}
}
@keyframes barra-right {
      0% {
		opacity: 0;
		right: 20%;
		}
	 70% {
		opacity: 1;		
		}   
    100% {
		opacity: .1;
		right: 15%;
		}
}



.blink
	background-color white
	display inline-block
	height 13px
	width 5px
 

.command
  &:before
    content '$ '

// .iconos
	// color #00FFFF
	// display none

.habilidades
		font-family Consolas, monospace
		font-size .9rem
		text-align left
		width 60%
		margin 0 auto
		
		
	
.info p, .terminal
  display none
  font-size 0.9em
  word-wrap break-word

.monitor
  color #CFD8DC
  font-family 'Wallpoet'
  margin 1.5em auto
  position relative
  text-align center
  width 95%
 

.monitor-img
	display block

.monitor-img-gde
	display none
  
.monitores
  font-size 2em 
  width 500px
	
.monitor-home 
  left 0
  opacity 0
  right 0
  margin-left auto
  margin-right auto
  position absolute
  top 18%
  transition 2s

.monitor-info  
  left 0
  margin-left auto
  margin-right auto
  opacity 0
  position absolute
  right 0
  top 10%
  transition 2s
  
.monitor-estudios
  left 0
  margin-left auto
  margin-right auto
  opacity 0
  position absolute
  right 0
  top 10%
  transition 2s

.monitor-habilidades
  left 0
  margin-left auto
  margin-right auto
  opacity 0
  position absolute
  right 0
  top 8%
  transition 2s
		

  
.monitor-trabajos
  left 0
  margin-left auto
  margin-right auto
  opacity 0
  position absolute
  right 0
  top 10%
  transition 2s
  
.monitor-proyectos
  left 0
  margin-left auto
  margin-right auto
  opacity 0
  position absolute
  right 0
  top 10%
  transition 2s
  
.monitor-contacto
  left 0
  margin-left auto
  margin-right auto
  opacity 0
  position absolute
  right 0
  top 10%
  transition 2s
 

.rueda
  bottom 15%
  height 130px
  left 0
  margin-left auto
  margin-right auto
  position absolute
  right 0
  top 18%
  transition 2s
  width 130px
  &:hover
    transform rotate(360deg)
    -webkit-transform rotate(360deg)
    -moz-transform rotate(360deg)
    -o-transform rotate(360deg)
    -ms-transform rotate(360deg)

.terminal
  overflow hidden
  padding-bottom 4px
  padding-left 5px
  padding-top 4px
  height 145px
  border-top 1px solid #448AFF

.titulo
	transition 2s
.titulo-p
	font-size .5em
	transition 2s
	

		
@media screen and (min-width: 450px) 
/* 	#datos{		
		bottom: 11%;
} */
	.monitor-img 
		display none

	.monitor-img-gde 		
		display block
		
	.barra-estatica-left
	.barra-estatica-right
		top 7%		
		position absolute
		display block
	
	.barra-estatica-right		
		right 5%
	.barra-estatica-left
		left 5%


@media screen and (min-width: 800px) 
	#datos	
		bottom 2%
		font-size 1.2em
	.rueda
		width 250px
		height 250px
		top 5%



@media screen and (min-width: 917px) 
	#datos		
		bottom 5%

	.monitor 	
		width 75%
		
	.monitor-img-gde
		width 1080px


